<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Manager</title>
    <link href="~/img/logo.png" rel="shortcut icon" />
    <link href="~/assets_manager/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/assets_manager/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="~/assets_manager/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="~/assets_manager/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets_manager/css/master.css" rel="stylesheet">
    <link href="~/assets_manager/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header" style="background-color: #f79565;">
                <img src="~/assets_manager/img/logo.png" style="height: 8vh;" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a asp-controller="Manager" asp-action="Competition"><i class="fas fa-file" style="color: #00B5AD;"></i>Competition</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="exihibition"><i class="fas fa-file" style="color: #2185D0;"></i> Exibition</a>
                </li>
                <li>
                    <a asp-controller="Manager" asp-action="AwardDetail"><i class="fas fa-file" style="color: #00B5AD;"></i> Award</a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="StaffRecord"><i class="fas fa-chart-bar" style="color: #F7631B;"></i>Staff Approval</a>
                </li>

            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                                        @using System.Security.Claims;
                                        @{
                                            string userName = User.FindFirst(ClaimTypes.Name)?.Value;
                                        }
                                        @if (userName != null)
                                        {
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-user"></i> <span>@userName</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                    <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                        <ul class="nav-list">
                                            <li><a href="settings.html" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                            <div class="dropdown-divider"></div>
                                            <li class="nav-item">
                                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                                        }
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->

    <div>
        @RenderBody()
    </div>

     </div>
    </div>
    <script src="~/assets_manager/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets_manager/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets_manager/vendor/chartsjs/Chart.min.js"></script>
    <script src="~/assets_manager/js/dashboard-charts.js"></script>
    <script src="~/assets_manager/js/script.js"></script>
</body>
</html>


