<section class="banner-area relative about-banner" style="background-image:url('../../img/banner-bg.jpg'); background-size:cover" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					About Us
				</h1>
				<p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="about.html"> About Us</a></p>
			</div>
		</div>
	</div>
</section>
<br>
<br>
<br>
<br>
<br>

<section class="info-area pb-90">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-6 no-padding info-area-left">
				<img class="img-fluid" src="~/img/about-img.webp">
			</div>
			<div class="col-lg-6 info-area-right">
				<h1>
					Our Journey!
				</h1>
				<hr class="m-0" style="border: 1px solid #F76314" width="185vw"><br>
				<p>
					Embark on a creative odyssey with the Institute of Fine Arts, where every stroke of imagination converges into a masterpiece of artistic expression. Our journey is a testament to passion, dedication, and the boundless possibilities of artistic exploration. <br><br>

					Founded by two visionary stalwarts in the realms of animation and fine arts, our institute is a beacon of inspiration for aspiring artists. With a commitment to nurturing talent and fostering creativity, we set sail on a transformative voyage that has left indelible marks on the canvas of artistic excellence.<br><br>


					At the heart of our journey are the students—the driving force behind every stroke, every pixel, and every narrative woven into our exhibitions. <br><br>

					Through competitions that ignite creativity and foster healthy competition, we have witnessed the blossoming of raw talent into refined expressions of artistry. Our exhibitions serve as a testament to the prowess of our students, showcasing their works to a wider audience and bridging the gap between art and appreciation.<br><br>

					As we continue on this artistic odyssey, we invite you to join us in celebrating the beauty of imagination, the power of expression, and the endless possibilities that unfold when creativity knows no bounds.
				</p>
				<br>

				</p>
			</div>
		</div>
	</div>
</section>

<section class="info-area pb-90">
	<div class="container-fluid">
		<div class="row align-items-center">

			<div class="col-lg-6 info-area-right">
				<h1>
					Our Mission!
				</h1>
				<hr class="m-0" style="border: 1px solid #F76314" width="185vw"><br>
				<p>
					The Institute of Fine Arts is driven by a profound mission that encompasses the essence of artistic exploration, creative empowerment, and cultural enrichment. Our dedication lies in nurturing the artistic spirit, guiding aspiring artists towards excellence, and fostering an environment where innovation thrives. <br><br>

					At the core of our mission is the belief that art has the power to inspire, provoke thought, and evoke emotions that transcend boundaries. We are committed to empowering artists to harness their creativity, cultivate their unique voices, and contribute meaningfully to the ever-evolving landscape of fine arts and animation. <br><br>

					We strive to create a dynamic learning ecosystem where students are not just taught techniques but are encouraged to think critically, explore diverse perspectives, and challenge conventions. Through interactive workshops, immersive experiences, and mentorship from industry experts, we equip our students with the skills, confidence, and resilience needed to navigate the complexities of the artistic world. <br><br>



					Our mission also extends to promoting artistic excellence and pushing the boundaries of creativity. We set high standards, encourage continuous learning, and provide opportunities for artists to showcase their talents, gain recognition, and contribute positively to society through their art. <br><br>

				</p>
				<br>

				</p>
			</div>
			<div class="col-lg-6 no-padding info-area-left">
				<img class="img-fluid" src="~/img/mission-bg.jpeg">
			</div>
		</div>
	</div>

</section>

<section class="cta-two-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 cta-left">
				<h1>Not Yet Registered your Account?</h1>
			</div>
			<div class="col-lg-4 cta-right">
				<a class="primary-btn wh" asp-controller="Home" asp-action="register">Register Now</a>
			</div>
		</div>
	</div>
</section>
