@model EProject.Models.UserRecord

<section class="banner-area relative about-banner" style="background-image:url('../../img/banner-bg.jpg'); background-size:cover" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Register
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="login.html">Register</a></p>
            </div>
        </div>
    </div>
</section>

<!-- register -->
<section class="search-course-area relative" style="background-image: none;">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6 search-course-left">
                <h1 class="text-white">
                    Register Here ! <br>
                    For The Competition!
                </h1>
                <p>
                    Inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 search-course-right section-gap">
                <form class="form-wrap" method="post">
                    <h4 class="text-white text-center">Register Your Account</h4>
                    <hr class="m-auto mb-30" style="border: 1px solid #F76314" width="85vw">
                    <input type="text" asp-for="UserName" class="form-control" placeholder="Your Name">

                    <input type="number" asp-for="UserContactNum" class="form-control" placeholder="Your Number">

                    <input type="email" asp-for="UserEmail" class="form-control" placeholder="Your Email Address">

                    <input type="Password" asp-for="UserPassword" class="form-control" placeholder="Your Password">

                    <input type="hidden" asp-for="UserStatus" value="1" class="form-control">
                    <input type="hidden" asp-for="UserRoleId" value="4" class="form-control">

                    <button class="primary-btn text-uppercase">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

@using System.Security.Claims;
@{
    string userName = User.FindFirst(ClaimTypes.Name)?.Value;
}
@if (userName != null)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home">
            @userName
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
    </li>
}

else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="RegisterStaff">Registered Staff</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="LoginStaff">Login</a>
    </li>
}
